.logo{
    height: 40px;
}
h7{
    color:black;
}
body{
    background-color:white;
}
.color_header{
    /*background-color:#A7C6DA;*/
    background-color: black;
    height :1px;
}
.card{
    text-align:center;
}
.yellow_background{
    background-color:#F4C424;
}

.card_header{
    background-color: white;
    height: 1px;
}
.register_header{
    height:1px;
    background-color:black;
}
.Register{
    text-align:center;
}
.submit_button{
    width:310px;
    height:50px;
    background-color:#F4C424;
}
.welcome_box{
    text-align:center;
}
.password_button{
    height:35px;
    width:300px;
    text-align:center;
    background-color:#F4C424
}
.submit_button2{
    height:35px;
    width:300px;
    text-align:center;
    background-color: white;
}
.delete_button{
    height:30px;
    width:340px;
    text-align:center;
    background-color: white;
}
.password_suggestions{
    text-align:center;
}

.user_header{
    color: #616161;;
}
.update_button{
    height:30px;
    width:340px;
    text-align:center;
    background-color: white;
}
.logout_link{
    color:black;
}
.back_button{
    color:black;
}
.menu_bar{
    background-color:#F4C424
}

.Background_Color{
    background-color:#F4C424;
    height:600;
}

.register_header2{
    height:1px;
    background-color:black;
    width:50px;
}

