.logo{
    height: 40px;
}
h7{
    color:black;
}
body{
    background-color:white;
}
.color_header{
    /*background-color:#A7C6DA;*/
    background-color: black;
    height :1px;
}
.card{
    text-align:center;
}

.yellow_card{
    background-color: #F4C424;
}
.card_header{
    background-color: white;
    height: 1px;
}
.register_header{
    height:1px;
    background-color:black;
}
.Register{
    text-align:center;
}
.submit_button{
    width:300px;
    height:50px;
    background-color:#F4C424;
}
.welcome_box{
    text-align:center;
    background-color:#F4C424;
}
