<!--Page to add a new company, username and password-->
<html>
    <head>
        <!-- Compiled and minified CSS -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
        <title> Add - Lock It! </title>
        <link rel="icon" type="image/png" href="/static/lock.png"/> 
    </head>
    <body>
        <h1> Add Your Forgettable Passwords! </h1>
        <form method="post" action="/adding">
            <div ="container">
                <div class="row one"> 
                    <div class="col s5"></div>
                    <div class="col s2"><input type="text" name="company" value="" placeholder = "Company" /></div>
                    <div class="col s5"></div>
                </div>
        
                <div class="row two">
                    <div class="col s5"></div>
                    <div class="col s2"><input type="text" name="user_company" value="" placeholder = "Email address or username"/></div>
                    <div class="col s5"></div>
                </div>
            </div>
                <!-- This is the "Added Password"-->
            <div class="row three">
                <div class="col s5"></div>
                    <div class="col s2"><input type="password" name="pass_company"  value="" placeholder = "Password" /></div>
                    <div class="col s5">
                        <input type="submit" value="Check Password Strength"/>
                </div>
            </div>
                <!-- Submit button; no inputs stored-->
        <form method="post" action="/adding">
            <div class="row four">
                <div class="col s5"></div>
                <div class="col s2"><input type="submit" value="Submit"/></div>
                <div class="col s5"></div>
            </div>
        </form>
        {% if not strong_pass %} <p>Not strong enough password</p> {% endif %}
    </body>
</html>                    

