<html>
    <head>
        <title> Add - Lock It! </title>
    <link rel="icon" type="image/png" href="/static/Lock_Logo.png"/>
    <meta charset="UTF-8"/>
    <!-- import the webpage's stylesheet -->
    <link rel="stylesheet" href="/static/style.css" type="text/css">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        ::placeholder{
            color: #616161 ;
        }
    </style>
    </head>
    <body>
        <div class="row page-header ">
            <div class="col s2">
                <br>
                <br>
                <font size="3"><a class="back_button" href="/back"><b> Back </b></a></font>
            </div>
            <div class="col s9">
            <br>
            <a href="/index"><img class= "logo" src="/static/Lock_Logo.png "></a>
            <font size="5">Lock it!</font> 
            </div> 
            <div class="col s1"> 
            <br>
            <br>
            <font size="3"> <a class ="logout_link" href="/logout"> <b> Logout </b></a> </font>
            </div>
        </div>
                
        <div class="Background_Color">
        <div class="row">
            <div class=" register_header"> </div>
        </div>

            <div class="row">
                <div class="Register"><h3> Add a Password </h3></div>
            </div>
            
            <div class="container">
                <div class="row">
                    <div class="col s4"></div>
                    <div class="col s4">
                        <form method="post" action="/adding" autocomplete="off">
                            <input type="text" name="company" value="" placeholder="Company">
                            <input type="text" name="user_company" value="" placeholder = "Email address or username"/>
                            <input type="password" name="pass_company"  value="" placeholder = "Password" />
                            <br>
                            <br>
                            <input class="submit_button2" type="submit" value="Check Password and Add Password"/>
                        </form>
                        
                    </div>
                    <div class="col s4"></div>
                </div>
                <div class="container">
                    <div class="password_suggestions">
                        {% if strong_pass == 0 %} <p> Please use a stronger password.</p> 
                        
                        {% elif strong_pass == 1 %}
                        <p>Your password is strong enough. It has been successfully added.</p>
                        <meta http-equiv="Refresh" content="3; url=/User" />
                        {% endif %}
                        <li> Password must be 8 characters in length </li> 
                        <li> Password must include a combination of letters and numbers </li>
                        <li> Password must include a combination of lowercase and uppercase</li>
                        <li> Password must include special characters</li>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>