<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <!-- import the webpage's stylesheet -->
    <link rel="stylesheet" href="/static/style.css" type="text/css">
    <title> Lock It! </title>
    <link rel="icon" type="image/png" href="/static/Lock_Logo.png"/> 
  </head>
  
  <body>
      <div class="row page-header ">
        <br>
        <div class="col l2"></div>
        <div class="col l2"> 
          <img class= "logo" src="/static/Lock_Logo.png "> 
          <font size="6">Lock it!</font> 
        </div>
        <br>
        <div class="col l4"></div>
        <div class="col l1"> <a href="/register"> <h7> Register</h2> </a></div>
        <div class="col l1"> <a href="/login"> <h7> Log In </h2> </a></div>
        <div class="col 2"></div>
      </div>
      
      <div class="container">
        <div class="row color_header"></div>
      </div>
      
      <div class="container picture ">
        <img class="pic_one" src="/static/hapy_locks (1).png"> 
      </div>
      
    <div class="container cards"> 
      <div class="row">
        <div class="col s4 ">
          <div class="card yellow_background">
            <div class="card-content white-text">
              <span class="card-title"> Help </span>
              <div class="container">
                <div class="row card_header"></div>
              </div>
              <p> To access the services offered by Lock It!, we recommend you to register for an account. After signing up, you will have the benfit to add usernames,passwords and also be able to delete and update them conveniently. </p>
              <br>
              <br>
            </div>
        </div>
      </div>
      
      <div class="col s4 ">
          <div class="card yellow_background">
            <div class="card-content white-text">
              <span class="card-title"> About </span>
              <div class="container">
                <div class="row card_header"></div>
              </div>
              <p> With great power comes great responsibility. With our strong presence on the internet, we register for many accounts to take advantage of their services. At Lock It!, we found it a problem to memorize all our passwords, so we created a secure and encrypted way to store and access your passwords. </p>
            </div>
        </div>
      </div>
      
      <div class="col s4 ">
          <div class="card yellow_background">
            <div class="card-content white-text">
              <span class="card-title"> Security </span>
              <div class="container">
                <div class="row card_header"></div>
              </div>
              <p> Security is especially important in a world prevalent with cyber criminals. One way to protect your sensitive information is through strong passwords. With our built in password checker, you can be confident that your account remains safe. </p>
              <br>
            </div>
        </div>
      </div>
    </div>

        
      <div class="container">
        <br>
        <div class="row color_header"></div>
      </div>
      <br>
      <br>
  </body>
</html>
