<html>
    <head>
        <title> Register - Lock It! </title>
    <link rel="icon" type="image/png" href="/static/Lock_Logo.png"/>
    <meta charset="UTF-8"/>
    <!-- import the webpage's stylesheet -->
    <link rel="stylesheet" href="/static/style.css" type="text/css">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        ::placeholder{
            color: #616161;
        }
    </style>
    </head>
    <body>
        <div class="row page-header ">
            <div class="col s1"></div>
            <div class="col s11">
                <br>
                <img class= "logo" src="/static/Lock_Logo.png "> 
                <font size="5">Lock it!</font> 
            </div>    
        </div>

        <div class="row">
            <div class=" register_header"> </div>
        </div>
        
        <div class="row">
            <div class="Register"><h3> Register </h3></div>
        </div>
        
        <div class="container">
            <div class="row">
                <div class="col s4"></div>
                <div class="col s4">
                    <form method="post" action="/newUser">
                        <input type="text" name="username" value="" placeholder="Username or email"/>
                        <input type="password" name="password" value="" placeholder="Password"/>
                        <input class="submit_button" type="submit" value="Create My Account"/>
                    </form>
                </div>
                <div class="col s4"></div>
            </div>
        </div>
        {% if username_exists%}<p> <center>This username already exists. Try another username. <center></center></p> {% endif %}
    </body>
</html>